*{
    margin: 0;
    padding: 0;

}
/*Selector de Etiqueta*/

body{
    background-color: rgb(136, 50, 93);
    color:black;
 
 }

 /*selector id*/
#contenedor{
    width: 900px;
    height: 6500px;
    background-color: hotpink;
    margin: 3em;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans';

}
#contenedor{

    width: 900px;
    height: 6000px;
    background-color: lightpink;
    margin: 10px;
    padding: 20px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.card:hover{
    max-width: 310px;

}

